.section-header {
    .main-wr {
        padding-top: 15px;
    }
    .callbacks {
        display: none;
        @include min640 {
            display: block;
        }
    }
}
.section-header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1195px;
}
.section-header__logo {
    display: block;
    width: 156px;
    height: auto;
    margin: 0;
}