.input-field {
  max-width: 230px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: $white;
  label {
    display: block;
    font-size: 16px;
    font-family: $Circe;
    font-weight: 600;
    margin-bottom: 10px;
    flex: 1;
  }
  input {
    display: block;
    padding: 10px 30px 0 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid $input-field-border;
    font-size: 16px;
    font-family: $Circe;
    flex:1;
    &.__date {
      width: 165px;
    }
    @media all and (max-width: 450px) {
      font-size: 14px;
    }
  }
  textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    @media all and (max-width: 450px) {
      font-size: 14px;
    }
    &:focus {
      outline: none;
    }
  }
  .b-btn {
    display: block;
    width: 100%;
  }
}
.input-field__list {
  display: block;
  width: 230px;
  position: relative;
  height: 44px;
  border: 1px solid $input-field-border;
  border-radius: 3px;    
  cursor: pointer;
  &.__opened {
    &:after {
      transform: rotate(180deg);
    }
  }
  &:after {
    pointer-events: none;
    display: inline-block;
    content: '';
    position: absolute;
    top: 17px;
    right: 11px;
    width: 13px;
    height: 7px;
    background: url('../images/icons/arrow-down.svg') no-repeat;
    background-position: center;
    transition: transform .3s ease;
  }
  input {
    width: 100%;
    height: 33px;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    font-size: 17px;
    line-height: 25px;
    color: $black;
    &.__hidden {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      pointer-events: none;
    }
  }
}
.input-field__options {
  width: 230px;
  position: absolute;
  left: -1px;
  top: 99%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 0;
  overflow: hidden;
  background: $white;
  transition:  max-height .3s ease;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  &.__active {
    max-height: 220px;
    overflow-y: auto;
    border-right: 1px solid $input-field-border;
    border-bottom: 1px solid $input-field-border;
    border-left: 1px solid $input-field-border;
  }
}
.input-field__option-item {
  padding: 10px;
  font-family: $Circe;
  &.__selected {
    cursor: default;
    font-weight: 600;
  }
}