mixin InputField(typeId, selectName, type1, type2, type3, type4, type5)
        .input-field
          label(for=typeId) #{selectName}
          .input-field__list.j-input-field__list
            .j-select
              input(id=typeId type="text" readonly class="j-select-input" placeholder="Выбрать" value="")
            .input-field__options.j-select-options
              span(class="input-field__option-item j-field-option" data-value=type1) #{type1}
              span(class="input-field__option-item j-field-option" data-value=type2) #{type2}
              if type3
                span(class="input-field__option-item j-field-option" data-value=type3) #{type3}
              if type4
                span(class="input-field__option-item j-field-option" data-value=type4) #{type4}
              if type5
                span(class="input-field__option-item j-field-option" data-value=type5) #{type5}

