include ../ModalForm/ModalForm.pug
include ../../blocks/Overlay/Overlay.pug
.footer-scripts
  //build:js scripts/vendor.js
  //bower:js
  script(src="scripts/datepick.js")
  script(src="scripts/datepick-rus.js")
  script(src="/bower_components/jquery/dist/jquery.min.js")
  //endbower
  //endbuild
  //build:js scripts/main.js
  script(src="scripts/main.js")
  //endbuild