.hero {
    width: 100%;
    min-height: 588px;
    position: relative;
    background: linear-gradient(0deg, #FFFFFF -50%, #A6CCDE 100%);
    padding-top: 25px;
    @include min1024 {
        min-height: 100vh;
        padding-top: 40px;
    }
}
.hero__title {
    max-width: 1150px;
    font-weight: bold;
    font-size: 27.5px;
    line-height: 35px;
    text-align: right;
    text-transform: uppercase;
    color: $wave;
    margin: 0 0 25px 0;
    user-select: none;
    @include min768 {
        padding-left: 210px;
        text-align: left;
    }
    @include min920 {
        padding-left: 255px;
    }
    @include min1024 {
        font-size: 37px;
        padding-left: 295px;
        text-align: right;
    }
    @include min1100 {
        font-size: 43px;
    }
    @include min1140 {
        font-size: 45px;
    }
    @include min1240 {
        max-width: 1195px;
    }
}
.hero__panel {
    width: 100%;
    padding-bottom: 15px;
    background: $wave;
    @include min1024 {
        min-height: 180px;
        padding-top: 20px;
    }
    .main-wr {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @include min920 {
            justify-content: flex-start;
        }
    }
}
.hero__panel-gutter {
    @include min640 {
        max-width: 140px;
        flex: 1;
    }
    @include min768 {
        max-width: 200px;
    }
    @include min920 {
        max-width: 255px;
    }
    @include min1240 {
        max-width: 300px;
    }
}
.hero__panel-content {
    max-width: 815px;
    @include min640 {
        flex: 1;
    }
    @include min1024 {
        margin-left: 80px;
    }
}
.hero__panel-text {
    margin-bottom: 5px;
    font-size: 11px;
    @include min640 {
        font-size: 14px;
    }
    @include min768 {
        padding-left: 15px;
        font-size: 16px;
    }
    @include min920 {
        padding-left: 0;
    }
    @include min1024 {
        margin-top: 5px;
        font-size: 18px;
    }
    @include min1100 {
        font-size: 24px;
    }
}
.hero__panel-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include min640 {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    @include min768 {
        padding-left: 15px;
    }
    @include min920 {
        padding-left: 0;
    }
}
.hero__logo {
    display: block;
    width: 130px;
    height: auto;
    align-self: flex-start;
    margin-bottom: 15px;
    @include min640 {
        width: 240px;
        margin-bottom: 0;
        align-self: flex-end;
    }
}
.hero__info {
    .main-wr {
        padding-left: 0;
        padding-right: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include min920 {
            justify-content: flex-start;
            padding-left: 15px;
        }
    }
}
.hero__info-gutter {
    max-width: 140px;
    flex: 1;
    @include min768 {
        max-width: 215px;
    }
    @include min920 {
        max-width: 255px;
    }
    @include min1024 {
        min-height: calc(100vh - 276px);
    }
    @include min1240 {
        max-width: 300px;
    }
}
.hero__img-mobile {
    display: block;
    width: 100%;
    max-width: 140px;
    height: auto;
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
    @include min768 {
        display: none;
    }
}
.hero__img-big {
    display: none;
    max-width: 325px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    @include min768 {
        display: block;
        left: -100px;
    }
    @include min920 {
        left: -60px;
    }
    @include min1024 {
        left: 0;
        min-width: 270px;
        height: 90vh;
        width: auto;
        max-width: 470px;
    }
    @include min1240 {
        height: 98vh;
        max-width: 500px;
        left: -40px;
    }
    @media all and (max-height: 680px) and (min-width: 1024px) {
        width: 350px;
        height: auto;
    }
}
.hero__info-content {
    max-width: 815px;
    min-width: 190px;
    flex: 1;
    padding-top: 35px;
    @include min1024 {
        margin-left: 80px;
    }
}
.hero__info-row {
    max-width: 225px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    @include min420 {
        max-width: none;
        margin-bottom: 15px;
    }
    @include min640 {
        padding-left: 15px;
    }
    @include min920 {
        padding-left: 0;
    }
    &:last-of-type {
        margin-bottom: 25px;
    }
    img {
        display: block;
        position: relative;
        top: -5px;
        width: 25px;
        height: auto;
        margin-right: 5px;
        @include min420 {
            margin-right: 10px;
        }
        @include min480 {
            width: 30px;
        }
        @include min1024 {
            top: 0;
            margin-right: 25px;
        }
    }
}
.hero__info-name {
    display: inline-block;
    min-width: 75px;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: $wave;
    margin-right: 10px;
    @include min480 {
        font-size: 23px;
        min-width: 100px;
    }
    @include min640 {
        font-size: 26px;
        min-width: 120px;
    }
    @include min920 {
        margin-right: 35px;
    }
    @include min1024 {
        font-size: 29px;        
    }
}
.hero__info-price {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: flex-start;
    @include min420 {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    @include min640 {
        align-self: center;
    }
}
.hero__info-sum {
    position: relative;
    font-size: 25px;
    line-height: 25px;
    @include min420 {
        min-width: 80px;
        margin-right: 10px;
    }
    @include min480 {
        min-width: 90px;
        font-size: 30px;
    }
    @include min640 {
        min-width: 100px;
        font-size: 33px;
        margin-right: 25px;
    }
    @include min1024 {
        font-size: 35px;
        margin-right: 50px;
    }
    &:after {
        display: inline-block;
        width: 8px;
        height: 11px;
        content: '';
        background: url('../images/icons/rouble-icon.svg') no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 2px;
        @include min480 {
            width: 10px;
            height: 14px;
        }
        @include min1024 {
            width: 15px;
            height: 20px;
        }
    }
}
.hero__info-price-desc {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 5px;
    font-weight: 400;
    @include min480 {
        font-size: 16px;
        bottom: 0;
    }
    @include min1024 {
        font-size: 18px;
    }
    &.__first {
        left: -20px;
        @include min1024 {
            left: -25px;
        }
    }
    &.__last {
        right: -22px;
        @include min420 {
            right: -5px;
        }
        @include min1024 {
            right: -15px;
        }
    }
}
.hero__info-about {
    font-size: 11px;
    color: $light-grey;
    cursor: pointer;
    text-decoration: underline;
    transition: opacity .3s ease;
    &:hover {
        opacity: 0.8;
    }
    @include min420 {
        align-self: flex-end;
    }
    @include min480 {
        font-size: 13px;
    }
    @include min1024 {
        font-size: 16px;
    }
}
.hero__bottom-text {
    font-size: 11px;
    line-height: 17px;
    @include min1024 {
        font-size: 13px;
    }
}
.hero__bottom {
    max-width: 240px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    @include min1024 {
        max-width: 280px;
    }
    .button {
        display: block;
        margin: 0 auto;
    }
}