.hero
    .main-wr
        h1.hero__title Услуги клининга в Зеленограде
    .hero__panel
        .main-wr
            .hero__panel-gutter
            .hero__panel-content
                p.hero__panel-text.u-white-text.
                    Доверьте чистоту в доме профессионалам!
                .hero__panel-wrap
                    img(src="images/icons/logo-white.svg" class="hero__logo")
                    +Callbacks('__white')
    .hero__info
        .main-wr
            .hero__info-gutter
                img(src="images/girl-photo-cut.png" class="hero__img-mobile")
                img(src="images/girl-photo.png" class="hero__img-big")
            .hero__info-content
                .hero__info-row
                    img(src="images/icons/flats-icons/1k-white.svg")
                    span.hero__info-name Однушка
                    .hero__info-price
                        strong.hero__info-sum.j-1k-flat-price 1550
                        span(class="hero__info-about j-hero__modal-open" data-rooms="1k") Что входит?
                .hero__info-row
                    img(src="images/icons/flats-icons/2k-white.svg")
                    span.hero__info-name Двушка
                    .hero__info-price
                        strong.hero__info-sum.j-2k-flat-price 1950
                        span(class="hero__info-about j-hero__modal-open" data-rooms="2k") Что входит?
                .hero__info-row
                    img(src="images/icons/flats-icons/3k-white.svg")
                    span.hero__info-name Трёшка
                    .hero__info-price
                        strong.hero__info-sum.j-3k-flat-price 2500
                        span(class="hero__info-about j-hero__modal-open" data-rooms="3k") Что входит?
                .hero__info-row
                    img(src="images/icons/flats-icons/house-white.svg")
                    span.hero__info-name Дом
                    .hero__info-price
                        span.hero__info-price-desc.__first от
                        strong.hero__info-sum
                            span.j-house-flat-price 120
                            span.hero__info-price-desc.__last
                                |за 
                                |м<sup>2</sup>
                        span(class="hero__info-about j-hero__modal-open" data-rooms="house") Что входит?
                .hero__info-row
                    img(src="images/icons/flats-icons/office-white.svg")
                    span.hero__info-name Офис
                    .hero__info-price
                        span.hero__info-price-desc.__first от
                        strong.hero__info-sum
                            span.j-office-flat-price 20
                            span.hero__info-price-desc.__last
                                |за 
                                |м<sup>2</sup>
                        span(class="hero__info-about j-hero__modal-open" data-rooms="office") Что входит?
                .hero__bottom
                    +Button('Калькулятор уборки', '__black __pad j-scrollto', '', '#calculator')
                    p.hero__bottom-text Моментально, без телефона и кредитной карты