.checkbox-option {
    max-width: 235px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
    &.__wider {
        max-width: 250px;
        margin-bottom: 0;
        .checkbox__text-box {
            width: 236px;
            @include min920 {
                width: auto;
            }
        }
        @include min920 {
            max-width: none;
        }
    }
}
.checkbox__label-box {
    position: relative;
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 50%;
    border: 2px solid $checkboxBorderColor;
    background: $white;
    margin-right: 10px;
    cursor: pointer;
}
.checkbox__input {
    opacity: 0;
    &:checked + .checkbox__label {
        background-color: $wave;
    }
}
.checkbox__label {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $white;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
}
.checkbox__text-box {
    width: 150px;
    margin-right: 4px;
}
.checkbox__text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}
.checkbox__counter-box {
    width: 45px;
    height: 25px;
}
.checkbox__counter {
    max-width: 100%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid $input-field-border;
    &.__to-fill {
        border: 1px solid $error;
    }
    &:focus {
        outline: none;
        border: 1px solid $wave;
    }
}