mixin CheckBoxOption(checkboxId, extra, fieldName, counter)
        div(class='checkbox-option j-checkbox-option ' + extra)
            label(for=checkboxId class="checkbox__label-box")
                input(type="checkbox" id=checkboxId class="checkbox__input j-checkbox__input")
                .checkbox__label
            .checkbox__text-box
                label(for=checkboxId class="checkbox__text") #{fieldName}
            if counter
                .checkbox__counter-box
                    input(type="text" class="checkbox__counter j-checkbox__counter" placeholder="..." maxlength="4")