include ../includes/components/Head/Head.pug
include ../includes/mixins/mixins.pug

body
  .u-global-wrap
    .page-content.j-page-content
      block content      
        
      //- include ../includes/components/MainFooter/MainFooter.pug
    include ../includes/components/Footer/Footer.pug
