.callbacks {
    max-width: 200px;
    width: 100%;
    @include min640 {
        max-width: 205px;
    }
    @include min1024 {
        max-width: 245px;
    }
    &.__white {
        .callbacks__btn {
            background: $white;
        }
        .callbacks__phone {
            color: $white;
        }
        .callbacks__btn-text {
            color: $wave;
        }
    }
    &.__wave {
        .callbacks__btn {
            border: 2px solid $wave;
        }
        .callbacks__phone {
            color: $wave;
        }
        .callbacks__btn-text {
            color: $wave;
        }
    }
}
.callbacks__phone {
    display: block;
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    
    transition: opacity .3s ease;
    &:hover {
        opacity: 0.8;
    }
    @include min640 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    @include min1024 {
        font-size: 28px;
    }
}
.callbacks__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.callbacks__msg {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: opacity .3s ease;
    @include min1024 {
        width: 40px;
        height: 40px;
    }
    &:hover {
        opacity: 0.8;
    }
    &.__tg {
        background-image: url('../images/icons/tg-icon.svg');
    }
    &.__whatsapp {
        background-image: url('../images/icons/whatsapp-icon.svg');
    }
    &.__viber {
        background-image: url('../images/icons/viber-icon.svg');
    }
}
.callbacks__btn {
    width: 85px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 14px;
    border-radius: 25px;
    cursor: default;
    @include min1024 {
        width: 100px;
        height: 40px;
    }
}
.callbacks__btn-text {
    font-size: 11px;
    font-weight: 600;
    @include min1024 {
        font-size: 14px;
    }
}
.callbacks__btn-arrow {
    width: 16px;
    height: 24px;
    background: url('../images/icons/wave-arrow.svg') no-repeat;
    background-size: cover;
    background-position: center;
}