mixin Callbacks(color)
        div(class='callbacks ' + color)
            a(class="callbacks__phone j-callback-phone" href="") 
            .callbacks__buttons
                .callbacks__btn 
                    span.callbacks__btn-text Написать
                    span.callbacks__btn-arrow
                a(class="callbacks__msg __tg j-callback-tg" href="")
                a(class="callbacks__msg __whatsapp j-callback-whatsapp" href="")
                a(class="callbacks__msg __viber j-callback-viber" href="")

