.modal {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  padding: 10px 20px;
}
.modal__wrap {
  display: none;
  max-width: 880px;
  width: 100%;
  max-height: 90%;
  padding: 30px 20px 20px 20px;
  background: $white;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto 50px auto;
  border-radius: 15px;
  overflow: auto;
  &.__small {
    max-width: 350px;
    padding: 20px;
    top: 100px;
    .modal__success-head {
      text-align: center;
    }
  }
  @include min480 {
    padding: 30px 25px 20px 25px;
  }
  @include min640 {
    padding: 30px 30px 25px 30px;
  }
  @include min720 {
    padding: 40px 45px 30px 45px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 33px;
  width: 25px;
  cursor: pointer;
  transition: opacity .3s ease;
  opacity: 0.7;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  &:hover {
    opacity: 1;
  }
}
.modal__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0;
}
.modal__icon {
  display: inline-block;
  width: 30px;
  height: auto;
  margin-right: 15px;
  position: relative;
  top: -5px;
  @include min640 {
    width: 35px;
  }
  @include min720 {
    width: 45px;
  }
}
.modal__room {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  @include min640 {
    font-size: 23px;
  }
  @include min720 {
    font-size: 34px;
  }
}
.modal__num-add {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
  @include min720 {
    top: 5px;
    font-size: 19px;
  }
}
.modal__num {
  font-size: 25px;
  font-weight: 600;
  margin-right: 5px;
  @include min640 {
    font-size: 28px;
  }
  @include min720 {
    font-size: 41px;
  }
}
.modal__currency {
  display: inline-block;
  width: 10px;
  height: 13px;
  content: '';
  background: url('../images/icons/rouble-icon.svg') no-repeat;
  background-size: cover;
  background-position: center;
  &.__mr {
    margin-right: 5px;
  }
  @include min640 {
    width: 13px;
    height: 16px;
  }
  @include min720 {
    width: 16px;
    height: 20px;
  }
}
.modal__subheading {
  color: $wave;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  margin-bottom: 25px;
  @include min480 {
    font-size: 19px;
  }
  @include min640 {
    font-size: 22px;
  }
  @include min720 {
    font-size: 24px;
  }
}
.modal__textcontent {
  p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    @include min480 {
      font-size: 14px;
      line-height: 19px;
    }
    @include min640 {
      font-size: 15px;
      line-height: 21px;
    }
    @include min640 {
      font-size: 17px;
      line-height: 23px;
    }
  }
}