.modal.j-modals
  div(class="modal__wrap j-hero__modal" data-rooms="1k")
    .modal__close-btn.j-modal__close X
    h3.modal__heading 
      img(src="images/icons/flats-icons/1k-blue.svg" class="modal__icon")
      span.modal__room Однушка 
      span.modal__num.j-1k-flat-price 1550
      span.modal__currency
    p.modal__subheading Что входит в уборку однокомнатной квартиры?
    .modal__textcontent
      p.
        В уборку однокомнатной квартиры входит тщательная 
        уборка абсолютно всех помещений квартиры – жилых комнат, 
        помещений общего пользования, кухни и санузлов. 
        Во всех помещениях производится очистка всех 
        поверхностей – потолка, стен и пола, а также мебели, 
        светильников и предметов интерьера. На данных поверхностях 
        осуществляется глубокая очистка от всех видов загрязнений – включая застарелые.
      p.
        Услуги по мойке окон, остекления лоджий и балконов, 
        химчистка ковровых покрытий, очистка внутренних поверхностей 
        бытовой техники – относятся к дополнительным и оплачиваются отдельно.

  div(class="modal__wrap j-hero__modal" data-rooms="2k")
    .modal__close-btn.j-modal__close X
    h3.modal__heading 
      img(src="images/icons/flats-icons/2k-blue.svg" class="modal__icon")
      span.modal__room Двушка 
      span.modal__num.j-2k-flat-price 1950
      span.modal__currency
    p.modal__subheading Что входит в уборку двухкомнатной квартиры?
    .modal__textcontent
      p.
        В уборку двухкомнатной квартиры входит тщательная 
        уборка абсолютно всех помещений квартиры – жилых комнат, 
        помещений общего пользования, кухни и санузлов. 
        Во всех помещениях производится очистка всех 
        поверхностей – потолка, стен и пола, а также мебели, 
        светильников и предметов интерьера. На данных поверхностях 
        осуществляется глубокая очистка от всех видов загрязнений – включая застарелые.
      p.
        Услуги по мойке окон, остекления лоджий и балконов, 
        химчистка ковровых покрытий, очистка внутренних поверхностей 
        бытовой техники – относятся к дополнительным и оплачиваются отдельно.
  div(class="modal__wrap j-hero__modal" data-rooms="3k")
    .modal__close-btn.j-modal__close X
    h3.modal__heading 
      img(src="images/icons/flats-icons/3k-blue.svg" class="modal__icon")
      span.modal__room Трёшка 
      span.modal__num.j-3k-flat-price 2500
      span.modal__currency
    p.modal__subheading Что входит в уборку трёхкомнатной квартиры?
    .modal__textcontent
      p.
        В уборку трёхкомнатной квартиры входит тщательная 
        уборка абсолютно всех помещений квартиры – жилых комнат, 
        помещений общего пользования, кухни и санузлов. 
        Во всех помещениях производится очистка всех 
        поверхностей – потолка, стен и пола, а также мебели, 
        светильников и предметов интерьера. На данных поверхностях 
        осуществляется глубокая очистка от всех видов загрязнений – включая застарелые.
      p.
        Услуги по мойке окон, остекления лоджий и балконов, 
        химчистка ковровых покрытий, очистка внутренних поверхностей 
        бытовой техники – относятся к дополнительным и оплачиваются отдельно.
  div(class="modal__wrap j-hero__modal" data-rooms="house")
    .modal__close-btn.j-modal__close X
    h3.modal__heading 
      img(src="images/icons/flats-icons/house-blue.svg" class="modal__icon")
      span.modal__room Дом 
      span.modal__num-add от
      span.modal__num.j-house-flat-price 120
      span.modal__currency.__mr
      span.modal__num-add за м<sup>2</sup>
    p.modal__subheading Что входит в уборку дома?
    .modal__textcontent
      p.
        В уборку дома входит тщательная 
        уборка абсолютно всех помещений – жилых комнат, 
        помещений общего пользования, кухни и санузлов. 
        Во всех помещениях производится очистка всех 
        поверхностей – потолка, стен и пола, а также мебели, 
        светильников и предметов интерьера. На данных поверхностях 
        осуществляется глубокая очистка от всех видов загрязнений – включая застарелые.
      p.
        Услуги по мойке окон, остекления лоджий и балконов, 
        химчистка ковровых покрытий, очистка внутренних поверхностей 
        бытовой техники – относятся к дополнительным и оплачиваются отдельно.
  div(class="modal__wrap j-hero__modal" data-rooms="office")
    .modal__close-btn.j-modal__close X
    h3.modal__heading 
      img(src="images/icons/flats-icons/office-blue.svg" class="modal__icon")
      span.modal__room Офис 
      span.modal__num-add от
      span.modal__num.j-office-flat-price 20
      span.modal__currency.__mr
      span.modal__num-add за м<sup>2</sup>
    p.modal__subheading Что входит в уборку дома?
    .modal__textcontent
      p.
        В уборку дома входит тщательная 
        уборка абсолютно всех помещений – жилых комнат, 
        помещений общего пользования, кухни и санузлов. 
        Во всех помещениях производится очистка всех 
        поверхностей – потолка, стен и пола, а также мебели, 
        светильников и предметов интерьера. На данных поверхностях 
        осуществляется глубокая очистка от всех видов загрязнений – включая застарелые.
      p.
        Услуги по мойке окон, остекления лоджий и балконов, 
        химчистка ковровых покрытий, очистка внутренних поверхностей 
        бытовой техники – относятся к дополнительным и оплачиваются отдельно.


  .modal__wrap.__small.j-success-modal
    .u-close.j-close X
    h3.modal__success-head Ваша заявка принята, спасибо!