.calculator {
    width: 100%;
    margin-bottom: 30px;
    @include min1024 {
        min-height: 100vh;
        margin-bottom: 0;
    }
}
.calculator__heading {
    font-size: 30px;
    line-height: 44px;
    color: $light-grey;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    @include min640 {
        text-align: left;
    }
}
.calculator__top {
    width: 100%;
}
.calculator__top-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include min640 {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    @include min920 {
        max-width: 975px;
        width: 100%;
        justify-content: space-between;
    }
    .input-field {
        @include min640 {
            margin-right: 20px;
        }
    }
}
.calculator__subheading {
    font-size: 25px;
    line-height: 44px;
    font-weight: 400;
    color: $wave;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    @include min640 {
        text-align: left;
    }
}
.calculator__bottom-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    @include min640 {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    @media all and (min-width: 1050px) {
        max-width: 1126px;
        width: 100%;
        justify-content: space-between;
    }
}
.calculator__bottom-part {
    max-width: 235px;
    margin-bottom: 20px;
    @include min640 {
        margin-right: 20px;
    }
}
.calculator__bottom-heading {
    font-size: 25px;
    line-height: 37px;
    margin-top: 0;
    font-weight: 400;
}
.calculator__bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1126px;
    @include min480 {
        flex-direction: row;
        justify-content: center;
    }
}
.calculator__total {
    text-align: center;
    @include min480 {
        min-width: 235px;
        margin-right: 40px;
    }
}
.calculator__total-text {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    color: $light-grey;
}
.calculator__total-sum {
    display: inline-block;
    position: relative;
    font-size: 49px;
    line-height: 55px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
    &:after {
        display: inline-block;
        width: 8px;
        height: 11px;
        content: '';
        background: url('../images/icons/rouble-icon.svg') no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 2px;
        @include min480 {
            width: 10px;
            height: 14px;
        }
        @include min1024 {
            width: 15px;
            height: 20px;
        }
    }
}
.calculator__callbacks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    @include min640 {
        display: none;
    }
}