form(class="calculator j-calculator-form" method="")
    include ../../blocks/SectionHeader/SectionHeader.pug
    .main-wr
        .calculator__top
            h3.calculator__heading Калькулятор уборки
            .calculator__top-fields
                .input-field.j-flat-type-property
                    .input-field__list.j-input-field__list.j-flat-type-property-default
                        .input-field__options.j-select-options.j-flat-type-list
                .input-field.j-clean-type-property
                    .input-field__list.j-input-field__list.j-clean-type-property-default
                        .input-field__options.j-select-options.j-clean-type-list
                        
                div(class='checkbox-option __wider j-checkbox-option j-allergy-option')
                    label(for="is_allergy" class="checkbox__label-box")
                        input(type="checkbox" id="is_allergy" class="checkbox__input j-allergy-check")
                        .checkbox__label
                    .checkbox__text-box
                        label(for="is_allergy" class="checkbox__text") Использовать противоаллергенные средства для уборки
        h3.calculator__subheading Дополнительные услуги
        .calculator__bottom-fields.j-calculator__fields#calc-fields
        .calculator__bottom-info
            .calculator__total
                span.calculator__total-text Стоимость услуг клининга:
                p.calculator__total-sum.j-calculator__total-sum 3650
            +Button('Оформить заказ', '__wave __mw260 j-scrollto', '', '#totals')
        .calculator__callbacks
            +Callbacks('__wave')
            

