extends layouts/main

block content
    section.j-section#top
        include includes/components/Hero/Hero.pug
    section.j-section#calculator
        include includes/components/Calculator/Calculator.pug
    section.j-section#totals
        include includes/components/CallbackForm/CallbackForm.pug