.callback-form {
    width: 100%;
    padding-bottom: 40px;
    @include min1024 {
        min-height: 100vh;
    }
}
.callback-form__heading {
    font-size: 30px;
    line-height: 44px;
    color: $light-grey;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    @include min640 {
        text-align: left;
    }
}
.callback-form__fields {
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    @include min640 {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    @include min920 {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 60px;
    }
}
.callback-form__field-box {
    width: 230px;
    margin-bottom: 30px;
    &.__wider {
        @include min640 {
            width: 100%;
        }
        @include min768 {
            width: 31%;
        }
        @include min1024 {
            max-width: 490px;
            width: 100%;
        }
    }
    @include min640 {
        width: 48%;
        margin-right: 10px;
    }
    @include min768 {
        width: 31%;
    }
    @include min1024 {
        width: 230px;
    }
}
.callback-form__label {
    display: block;
    font-size: 16px;
    font-family: "Circe";
    font-weight: 600;
    margin-bottom: 10px;
    -ms-flex: 1;
    flex: 1;
}
.callback-form__input {
    width: 100%;
    height: 44px;
    border: 1px solid $input-field-border;
    border-radius: 3px;
    padding: 10px;
    &:focus {
        outline: none;
        border: 1px solid $wave;
    }
    &.__big {
        width: 100%;
        min-height: 44px;
    }
    &.__textarea {
        height: 80px;
        resize: vertical;
        max-height: 150px;
    }
    &.__error {
        border-bottom: 2px solid $error;
    }
}