form(class="callback-form j-callback-form")
    include ../../blocks/SectionHeader/SectionHeader.pug
    .main-wr
        h3.callback-form__heading Оформление заказа
        .callback-form__fields
            .callback-form__field-box
                label(for="name" class="callback-form__label") Как к вам обращаться?
                //- input(id="name" class="callback-form__input j-user-name-field" name="name" type="text" placeholder="Имя" value="Test")
                input(id="name" class="callback-form__input j-user-name-field" name="name" type="text" placeholder="Имя")
            .callback-form__field-box
                label(for="phone" class="callback-form__label") Телефон
                //- input(id="phone" class="callback-form__input j-user-phone" name="phone" type="tel" placeholder="+7 (   )" value="+7(888)888-8888")
                input(id="phone" class="callback-form__input j-user-phone" name="phone" type="tel" placeholder="+7 (   )")
            .callback-form__field-box.__wider
                label(for="adress" class="callback-form__label") Адрес объекта
                //- input(id="adress" class="callback-form__input j-user-address" name="adress" type="text" maxlength="50" value="test adress")
                input(id="adress" class="callback-form__input j-user-address" name="adress" type="text" maxlength="50")
            .callback-form__field-box
                label(for="date" class="callback-form__label") Выберите дату
                //- input(id="date" class="callback-form__input __big j-user-date" type="date" placeholder="" value="2021-01-30")
                input(id="date" class="callback-form__input __big j-user-date" type="text" placeholder="")
            .callback-form__field-box
                label(for="time" class="callback-form__label") Выберите время
                //- input(id="time" class="callback-form__input j-user-time" name="datetime" type="time" value="15:00")
                input(id="time" class="callback-form__input j-user-time" name="datetime" type="text")
            .callback-form__field-box.__wider
                label(for="msg" class="callback-form__label") Комментарий
                //- textarea(id="msg" class="callback-form__input __big __textarea j-user-comment" name="comment" maxlength="100" value="test comment")
                textarea(id="msg" class="callback-form__input __big __textarea j-user-comment" name="comment" maxlength="100")
        .calculator__bottom-info
            .calculator__total
                span.calculator__total-text Стоимость услуг клининга:
                p.calculator__total-sum.j-calculator__total-sum 3650
            +Button('Оформить!', '__wave __mw260', 'submit', '')
        .calculator__callbacks
            +Callbacks('__wave')
            
