.button {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: opacity .3s ease;
  border-radius: 25px;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
  }
  &.__black {
    background-color: $black;
  }
  &.__wave {
    background-color: $wave;
  }
  &.__pad {
    max-width: 190px;
    @include min1024 {
      padding: 10px 15px;
      max-width: 210px;
    }
    @include min1100 {
      max-width: 250px;
    }
  }
  &.__mw260 {
    min-width: 186px;
    max-width: 260px;
    @include min1024 {
      padding: 10px 15px;
      min-width: 210px;
    }
  }
}
.button__text {
  color: $white;
  font-size: 17px;
  @include min1100 {
    font-size: 22px;
  }
}