mixin Button(text, extra, type, href)
        if href
          a(class='button ' + extra, href=href)
            span.button__text #{text}
        else
          button( class='button ' + extra, type=type) 
            span.button__text #{text}
