@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe.eot');
    src: url('../fonts/Circe/Circe.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe/Circe.woff2') format('woff2'),
        url('../fonts/Circe/Circe.woff') format('woff'),
        url('../fonts/Circe/Circe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}