* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  font-family: $Circe;
  color: $black;
  position: relative;
  width: 100%;
  font-size: 16px;
  opacity: 0;
  transition: opacity .3s ease;
  &.__visible {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
.u-global-wrap {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  min-width: 300px;
}
.main-wr {
  max-width: 1330px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.u-close {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: opacity .3s ease;
  opacity: 0.7;
  text-align: center;
  font-size: 25px;
  &:hover {
    opacity: 1;
  }
}
