@mixin min320 {
    @media all and (min-width: 320px) {
        @content;
    }
}
@mixin min420 {
    @media all and (min-width: 420px) {
        @content;
    }
}
@mixin min480 {
    @media all and (min-width: 480px) {
        @content;
    }
}
@mixin min640 {
    @media all and (min-width: 640px) {
        @content;
    }
}
@mixin min720 {
    @media all and (min-width: 720px) {
        @content;
    }
}
@mixin min768 {
    @media all and (min-width: 768px) {
        @content;
    }
}
@mixin min920 {
    @media all and (min-width: 920px) {
        @content;
    }
}
@mixin min992 {
    @media all and (min-width: 992px) {
        @content;
    }
}
@mixin min1024 {
    @media all and (min-width: 1024px) {
        @content;
    }
}
@mixin min1040 {
    @media all and (min-width: 1040px) {
        @content;
    }
}
@mixin min1100 {
    @media all and (min-width: 1100px) {
        @content;
    }
}
@mixin min1140 {
    @media all and (min-width: 1140px) {
        @content;
    }
}
@mixin min1200 {
    @media all and (min-width: 1200px) {
        @content;
    }
}
@mixin min1240 {
    @media all and (min-width: 1240px) {
        @content;
    }
}