.centered {
  text-align: center;
}
.usertext {
  a {
    display: inline-block;
    transition: all .3s ease;
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4 {
  font-family: $Circe;
}

p {
  font-size: 12px;
  line-height: 25px;

  @include min640 {
      font-size: 13px;
  }
  @include min1024 {
      font-size: 14px;
  }
}
.u-white-text {
  color: $white;
}
.u-responsive-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}